<div id="home" class="wedding-home wedding-center-vertical-horizontal wedding-fullscreen">
  <div class="container wedding-center-vertical-horizontal">
    <div class="wedding-home-overlay"></div>
    <div class="wedding-home-content wedding-center-vertical-horizontal">
      {{#if loggedIn}}
        <div>
          <img class="wedding-logo " src="/img/wedding-logo.svg" alt="wedding-logo">
        </div>
      {{/if}}
      <h1 class="wedding-home-heading">{{locale.titleHome}}</h1>
      <span class="wedding-home-subheading">{{locale.timeAndPlace}}</span>
      {{#unless loggedIn}}
        <div class="input-group">
          <label>
            {{locale.insertNameLabel}}
            <input type="text" placeholder="{{locale.insertNamePlaceholder}}" class="form-control">
          </label>
        </div>
      {{/unless}}
    </div>
  </div>
  {{#if loggedIn}}
    <div class="wedding-keep-scrolling">
      {{locale.keepScrolling}}
    </div>
  {{/if}}
</div>