<div id="invitation" class="wedding-invitation wedding-fullscreen">
  <div class="container wedding-invitation-container">
    {{#if shouldGreet}}
      <h1 class="wedding-invitation-header">{{locale.addressing}} {{greeting}}{{locale.addressingTerminator}}</h1>
    {{else}}
      <div class="wedding-invitation-greeting-placeholder"></div>
    {{/if}}
    <p class="wedding-invitation-text">{{locale.invitationText}}</p>
    <div class="wedding-invitation-image-container hidden-xs">
      <img class="wedding-invitation-image" src="img/green-lantern.png"/>
    </div>
  </div>
</div>
