<nav id="fixed-nav" class="navbar navbar-default wedding-navbar hidden-xs">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{{locale.title}}</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li id="navbar-party" class="wedding-navigate"><a href="https://images.anna-tamas-eskuvo.com/guest/{{guestId}}/photos">{{locale.photos}}</a></li>
      <li id="navbar-church" class="wedding-navigate"><a href="#church">{{locale.church}}</a></li>
      <li id="navbar-party" class="wedding-navigate"><a href="#party">{{locale.party}}</a></li>
      <li id="navbar-contact" class="wedding-navigate"><a href="#contact">{{locale.contact}}</a></li>
      {{#if isEnglish}}
        <li id="navbar-lang" data-target-lang="hu">
          <a href="?lang=hu">
            <img class="wedding-language-flag" src="/img/hu.svg">
            <span>hu</span>
          </a>
        </li>
      {{else}}
        <li id="navbar-lang" data-target-lang="en">
          <a href="?lang=en">
            <img class="wedding-language-flag" src="/img/en.svg">
            <span>en</span>
          </a>
        </li>
      {{/if}}
      </li>
    </ul>
  </div>
</nav>
